html, body {
    background-color: lightcyan!important;
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

#title {
    text-align: center;
}

#description {
    text-align: center;
    padding: 2%;
}

#jumbotron {
    background-color: lightgray;
    width: 70%;
    margin: auto;
    height: fit-content;
}

.inputboxes {
    width: 40%;
}

label {
    float: left;
}

.form-control {
    display: inline-block!important;
    margin-left: 5%;
}

.inputlabel {
    display: inline-block;
    text-align: right;
    width: 40%;
    padding: 5px;
    vertical-align: top;
    margin-top: 10px;
}

.inputbox {
    display: inline-block;
    text-align: left;
    width: 48%;
    vertical-align: middle;
}

.form-group {
    display: block;
    text-align: center;
}

.inputbox > ul {
    display: block;
    -webkit-margin-before: 1em;
}

.radio {
    position: relative;
    left: -43px;
    margin-left: 5%;
    display: inline-flex;
    padding-bottom: 10px;
}

.checkbox {
    position: relative;
    left: -43px;
    margin-left: 5%;
    display: table;
    padding-bottom: 10px;
}

input[type="radio" i], input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    margin: 3px 0.5ex;
    padding: initial;
    border: initial;
}

#submit {
    background-color: lightgreen;
    border-radius: 7px;
    color: white;
    font-size: 1em;
    height: 40px;
    width: 96px;
    margin: auto;
}